@using Microsoft.AspNetCore.Identity
@using FabricaHilos.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-sm btn-outline-danger">
            <i class="bi bi-box-arrow-right"></i> Salir
        </button>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-sm btn-primary">
        <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
    </a>
}
